* {
  box-sizing: border-box;
}
body {
  position: relative;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 75px;
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #eee;
}
video {
  width: 320px;
  height: 240px;
}
.showcase{
  margin-top: 10%;
}
@media (min-width: 600px) {
  video {
    width: 80%;
    height: auto;
  }
}
.logo {
  flex-grow: 1;
}
#nav-bar {
  flex-grow: 4;
}
